<div class="container slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="carousel-item active center">
            <img src="https://firebasestorage.googleapis.com/v0/b/talleresleal-e9264.appspot.com/o/feliznavidad.jpeg?alt=media&token=3c08ef4f-08a4-4bac-8b14-c4914cecc6db">
            <div class="carousel-caption">
                <h2>.  ¨  .  : · .  ·  :  ¨  . . ··.·</h2>
            </div>
        </div>

        <div class="carousel-item center">
          <img src="https://firebasestorage.googleapis.com/v0/b/talleresleal-e9264.appspot.com/o/slide2.jpg?alt=media&token=1b9b0429-efe4-431f-bfea-7710f0e15e66">
          <div class="carousel-caption">
              <h2>Estructuras metálicas</h2>
          </div>
        </div>

        <div class="carousel-item center">
          <img src="https://firebasestorage.googleapis.com/v0/b/talleresleal-e9264.appspot.com/o/slide3.jpg?alt=media&token=e9a1c8d1-959a-4fb9-baba-28ef12d1ae92">
          <div class="carousel-caption">
              <h2>Todo tipo de maquinaria agrícola</h2>
          </div>
        </div>

      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fas fa-chevron-circle-left fa-lg"></i>
          <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fas fa-chevron-circle-right fa-lg"></i>
          <span class="sr-only">Siguiente</span>
      </a>
  </div>
</div>
