#busqueda {
  width: 60% !important;
  margin-left: 40% !important;
}
@media screen and (max-width: 1225px){
  #busqueda {
    width: 100% !important;
    margin-left: 0% !important;
  }
}
@media screen and (max-width: 992px){

  @media screen and (max-width:550px){

    .slider{
      width: 100% !important;
      margin: 0 !important;
      margin-top: 40px !important;
      margin-bottom: 40px !important;
      padding:0 !important;
    }

    #myCarousel {
      width: 100%;
      margin: 0 !important;
      padding:0 !important;
    }

    #informacion {
      padding: 20px !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 97% !important;
    }

    nav{
      display: inline-block !important;
    }
    h2{
        font-size: 16px;
    }
    #navegacion{
        margin-left:35px !important;
    }
    .form-inline {
      margin-left: 0px !important;
      width: 100%;
    }
    @media screen and (max-width:370px){
        #logo img{
            align-content: center;
        }
    }
  }

}

.slider{
  min-width: 85%;
}

#myCarousel{
  margin-bottom: 15px;
  padding-bottom: 0 !important;
}
.container{
  min-height: 200px;
}

#cabecera{
  background-color: #F2FFEE;
  padding-bottom:15px;
}

#logo img{
  margin-top:10px;
  box-shadow: 2px 2px 2px 2px #39E304;
  -webkit-box-shadow: 2px 2px 2px 2px #39E304;
}
#navegacion{
  margin-top:2px !important;
}
#myNavbar .collapse .navbar-collapse{
  display: inline-block !important;
}
#logo img:hover, a i:hover{
  opacity: 0.8;
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
}

#login{
  margin-top:25px;
  margin-left: 100px;
}

#pie{
  background-color: #D4FFC8;
}

.item img{
  max-height: 400px;
}

.boton{
  padding:7px;
  background-color: #F2FFEE;
  border-radius: 15px 5px 5px 5px;
  -webkit-border-radius: 15px 5px 5px 5px;
  margin-right:3px;
  margin-bottom: 15px;
}

.boton:hover{
  background-color: green;
  color:white;
  cursor:pointer;
}

nav .container-fluid{
  box-shadow: 2px 2px 2px 2px darkgreen;
  border-radius: 3px;
}

.navbar-default{
  background-color: #EFFDEA;
}
.container .navbar-header{
  padding-left:15px;
}

ul li a{
  color: darkgreen !important;
  padding:15px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li a:hover{
  background-color:green !important;
  color:white !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 1px 0px 1px 2px white;
  cursor: pointer;
}

input,select,textarea{
  color:black !important;
}
input:focus, select:focus, textarea:focus{
  border-color:#5D854F !important;
  box-shadow: 0px 0px 2px 2px #5D854F !important;
  -webkit-box-shadow: 0px 0px 1px 1px #5D854F !important;
}
input:hover, select:hover, textarea:hover{
  box-shadow: inset 0px 0px 1px 1px #5D854F;
}

input:invalid{
  border-color:red !important;
  box-shadow: 0px 0px 2px 2px red !important;
  -webkit-box-shadow: 0px 0px 1px 1px red !important;
}

@keyframes barrido{
  100% {top: 76%}
  10% {top: 7%}
}
@-webkit-keyframes barrido{
  100% {top: 68%}
  10% {top: 7%}
}
@-ms-keyframes barrido{
  100% {top: 68%}
  10% {top: 7%}
}
.carousel-caption{
  -webkit-animation: barrido 2s !important;
  -ms-animation: barrido 2s !important;
  animation: barrido 2s !important;
  font: oblique bold 120% cursive;
}

.carousel-inner img {
  width: 100%;
  max-height: 450px;
}

.badge{
  border-radius: 50px;
}
.icono{
  cursor: pointer;
}

.navbar-expand-sm .container-fluid {
  margin:15px;
}

#myModal{
  margin-top: 12%;
}
fieldset {
  border-radius: 4px;
  padding:7px;
  border: 1px solid green;
  margin:7px;
}
legend {
  background-color: #F2FFEE;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  padding: 3px 5px 3px 7px;
  width: auto;
}

.center {
  align-content: center;
  text-align: center;
}

.align-right {
  align-content: right;
  text-align: right;
}

.active {
  background-color: rgb(155, 245, 132) !important;
}

.contenido {
  padding-top: 100px;
}

@keyframes desvanece{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes desvanece{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
.galeria{
  -webkit-animation: desvanece 2s !important;
  animation: desvanece 2s !important;
  height: 200px;
}

/** SVG Animation */
svg path,
svg rect{
  fill: green;
}

span i {
  color: green;
}
.input-group-prepend span {
  background-color: #EFFDEA !important;
}

/* Quienes somos */
#informacion{
	width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
	background-image: url(assets/img/fondoInfo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding:40px;
	font-family: Century;
  font-size:14pt;
  border-radius: 15% 3%;
  -webkit-animation: desvanece 2s !important;
  animation: desvanece 1s !important;
}

.ir-arriba {
	display:none;
	padding:10px;
	background:#F2FFEE;
	font-size:30px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:10%;
  right:3%;
  border-radius: 45px;
  opacity: 0.65;
}
